# Visual Studio
.vs/
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/

# Rider
.idea/

# .NET
*.log
*.cache
*.vspscc
*.vssscc
*.pidb
*.userprefs
*.usertasks
*.slnx

# NuGet
packages/
*.nuget.props
*.nuget.targets

# OS
.DS_Store
Thumbs.db

# Project specific
backend/bin/
backend/obj/
backend/*.db
backend/*.db-shm
backend/*.db-wal
backend/uploads/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.nuxt/
frontend/.output/

# Logs
*.log
logs/
*.logs